.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2000;
    backdrop-filter: blur(10px);
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F33A3A;
    padding: 2px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
  }
  
  .certificate-display {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80vh;
  }
  
  .certificate-display img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .nav-icon {
    font-size: 4rem;
    color: white;
    background-color: #F33A3A;
    padding: 20px;
    margin: 10px;
    border-radius: 50px;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
  }
  
  .nav-icon:hover {
    background-color: white;
    color: black;
    border-radius: 16px;
  }
  
  .nav-icon:active {
    background-color: rgb(236, 75, 75);
    color: black;
    border-radius: 16px;
  }